=render 'admin/admin_header'
.box-2
  %table.table.table-striped
    %thead
      %tr(style="height:60px;")
        %td
          = link_to '餐馆管理',admin_index_path
        %td(style="background:#E0E0E0;" )
          标签管理
  .row
    %input(style="margin:0px 0px 0px 50px" )
    -#lebal.class
    %span(style="margin:0px 0px 0px 90px" )
      =link_to '添加新标签',  :class=>'btn'
  .modal-body
    %table.table.table-striped
      %thead
        %tr
          %td
            序号
          %td
            标签内容
          %td
            类别
          %td
            操作

          %td
            序号
          %td
            标签内容
          %td
            类别
          %td
            操作
      %tbody
        -#- num=0
        -#- @label.each do |m|
        -#  - num += 1
          %tr
            %td
              = num
            %td
              = m[:content]
            %td
              = m[:class]
            %td
  -#            =link_to '修改',save_modify_merchant_id_path(:user_name=>m[:user_name])
  -#            =link_to '删除', delete_merchant_path(:user_name => m[:user_name]), :method => :delete, :confirm=>"您确定要删除\"#{m[:restaurant_name]}\"？"
  -#.modal-footer
  -#  = will_paginate @merchant,:previous_label=>'<<',:next_label=>'>>'
